:root {
  --primary-color: blue;
  --background-color: hsl(212, 45%, 89%);
  --text-color: hsl(218, 44%, 22%);
  --accent-color: hsl(216, 15%, 48%);
  --font-size: 1.25rem;
  --font-family: "outfit", sans-serif;
  --font-weight: 400;
  --font-weight-bold: 700;
  --white: hsl(0, 0%, 100%);
  --width: 100%;
  --border-radius: 15px;
  --border-radius-sm: 7px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* Hide Scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--background-color);
  /* min-width: var(--width); */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3.5rem 0;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.qr-img {
  width: 100%;
  max-width: 300px;
  border-radius: var(--border-radius-sm);
}

h1 {
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  text-align: center;
  margin: 1rem 0;
}

p {
  font-size: 1.25rem;
  color: var(--accent-color);
  text-align: center;
  margin: 0.5rem 0;
}

/* ---MEDIA QUERIES --- */
@media (min-width: 600px) {
  main {
    flex-direction: row;
    gap: 4rem;
  }
}
